.form-content {
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 6px 6px #a7a6a6da;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
    margin-top: -80px;
    /* background-color: rgb(235, 235, 235); */

}
/* 
.container {
    margin-top: -80px;
} */

.form-group {
    margin: 10px;
}

h4 {
    margin-right: 5px;
}

.btn {
    border: 0;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-size: 18px;
    
}

.btn:hover {
    background-color: gray;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    font-size: 18px;
}