h4 {
    font-weight: bold;
}


div.card-body {
    text-align: center;
    
}

button.btn.btn-secondary {
    background: #9b9a9a;
}

.services-content {
    padding-top: -50px;
    margin-top: -50px;
}

.card {
    box-shadow: 6px 6px 4px #888888;
    border: #9b9a9a;
    border-style: solid;
    border-width: 1px;
}

img.card-img-top {
    margin-top: 0;
}

