section {
  float: right;
  width: 70%;
}
aside {
  /* float: left; */
  min-width: 250px;
  width: 30%;
}

input.btn {
  /* background:#008080; */
  background: rgb(78, 190, 170);
  color: white;
}

footer {
  clear: both;
  margin-bottom: 0;
}
