.img {
    max-height: 550px;
    height: 350px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
  
}

.carousel-item {
    max-height: 325px;
    height: 300px;
    margin-top: -5px;
    /* background-size: cover; */
    /* background-position: center; */
    /* background-position: top; */
    
}

.carousel-inner {
    margin-top: -5px;
}

span.carousel-control-prev-icon {
    size: 0px;
    color: transparent;
}

.carousel-control-prev-icon {
    size: 0px;
    color: transparent;
}

/* a.carousel-control */

h3 {
    /* color: #07ddbd; */
    color: black;
    /* margin-top: 100px; */
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 60px;
    font-weight: bolder;
} 



/* 
.UncontrolledCarousel {
    max-height: 350px;
    height: 350px;
}

img.d-block.w-100 {
    height: 350px;
}

.img.d-block.w-100 {
    height: 350px;
}

img.d-block {
    height: 350px;
}

.carousel-inner {
    height: 300px;
} */