/* .provDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px 5px;
} */

.provDiv {
  display: flex;
  flex-direction: column;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px #a7a6a6da;
  padding: 15px;
  margin: 15px 15px 35px 15px;
  max-width: 340px;
  width: 340px;
  height: 375px;
  max-height: 375px;
  float: left;
  
}

.provInfo {
  display: flex;
  float: 3px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
img {
  margin-top: 5px;
  margin-right: 15px;
  flex: 1;
}

h3 {
  margin: 10px 0;
}
.btn {
  background: rgb(78, 190, 170);
  color: white;
}

.logo {
    color: #fff;
   display:flex;
   justify-content:center;
   align-items:center;
   margin:auto 10px;
    font-size: 40px;
    border-radius: 50%;
  
    height: 75px;
    width: 80px;

    background-color: #ccc;
}
.info{
   display: flex;
 justify-content: space-between;
  align-items: center;
}
.book{
   display: flex;
   justify-content: flex-end;
}
/* .bttn{
  align-self: flex-end;
} */