.login {
    text-align: center;
    margin-top: 25px;
}

.email {
    margin: 5px;
    padding: 5px;
}

.password {
    margin: 5px;
    padding: 5px;
}

.button {
    margin: 5px;
    padding: 5px;
    background-color: darkgrey;
    color: white;
}