nav.navbar.navbar-default {
    margin-bottom: 0;
    background: #07ddbd;
    color: white;
  } 

  nav {
    color: white;
  }
  
  nav.navbar {
    background: #07ddbd;
    color: white;
  } 

  .navbar {
    background: #07ddbd;
    color: white;
    height: 60px;
  }
  
  button {
    color: white;
  }

  button.mr-2.navbar-toggler {
    color: white;
  }

  span.navbar-toggler-icon {
    color: white;
    
  }
  .navbar-brand {
    color: white;
    font-size: 30px;
    margin-top: -8px;
  }
  
  nav.navbar-nav.nav-item {
    text-align: right;
    color: white;
    margin-top: -4px;
  }
  
  .nav-item {
    text-align: right;
    color: white;
    margin-top: -4px;
  }

  .nav-item:hover {
    color: white;
  }
  
  a.nav-link {
    text-align: right;
    color: white;
    font-size: 20px;
    margin-top: -4px;
  } 

  a.nav-link:hover {
    color: white;

  }

  .nav-link {
    color: white;
    margin-top: -4px;
  }

  .nav-link:hover {
    color: white;
  }