nav.navbar.navbar-default {
    margin-bottom: 0;
    background:rgb(78, 190, 170);
    color: white;
  }
  
  nav.navbar {
    background:rgb(78, 190, 170);
    color: white;
  }
  
  .navbar-brand {
    color: white;
    font-size: 34px;
  }
  
  nav.navbar-nav.nav-item {
    text-align: right;
    /* color: white; */
  }
  
  .nav-item {
    text-align: right;
    /* color: white; */
  
  }
  
  a.nav-link {
    text-align: right;
    color: white;
    font-size: 20px;
  }